(use 'riemann.hipchat)

(let [host "0.0.0.0"]
  (udp-server :host host))

(def librato (librato-metrics "nherzing@gmail.com" librato-key))

(def hipchat-token)
(def hipchat-room)
(def hc (hipchat {:token hipchat-token
                  :room hipchat-room
                  :from "Bernhard R."
                  :notify 0}))

(streams
 (where (service #"^deploy.*")
        (changed-state
         (where (state "started")
                hc
                (librato :start-annotation)
                (else
                 hc
                 (librato :end-annotation)))))
 (where (or (service "email-sent")
            (service "email-failed")
            (service "sms-sent")
            (service "sms-failed")
            (service #"^voter.*"))
        (librato :gauge)))
